
/*Nav bar*/
  .navbar{
    background-color: #D0F288; 
  }
  .navbar-collapse {
    font-size: 18px;
    font-weight: 600;
  }
  #selected-link{
      color: green ;
    }
  .nav-link{
      color: black;
      margin-right: 10px; 
    }
  .navbar-brand img {
    width: 110px;
    top: 0;
    left: 0;
  }
  .form-inline {
    margin-left: 80px;  
    margin-right: 80px;
  }
  .navbar-buttons{
    padding-right: 10px;
  }
  .navbar-buttons .shopping-bag{
   width:28px ;
   height:27px;
  }
  .navbar-buttons .favourite{
   width:26px ;
   height:29px;
  }
  .navbar-buttons .person{
   width:28px ;
   height: 32px;
  }
  .navbar-buttons{
    padding-right: 10px;
  }
  .form-control {
    border: 1.5px solid #00B207;  
    background: var(--white-100, #FFF) url('assets/images/Product-images/Search.svg') no-repeat;
    background-position: 10px 9px;
    padding-left:33px;
    background-size: 16px;
    padding-top:18px;
    padding-bottom:18px;
    margin-right: 5px ;
    padding-right: 5px ;  
  
  }
  .form-control::placeholder {
    color:rgb(199, 199, 199); 
  }
  .btn-outline-success {
    border: 1.5px solid #00B207;
    color: #00B207; 
    margin-right: 0;
  }
  
  .btn-outline-success:hover {
    background-color: #00B207 ;
    border: 1.5px solid #00B207;  
    color: white;  
  }
  
  @media (max-width: 992px) {
    .form-control {
      width: 200px; 
    }
  }
  @media (min-width: 992px) {
    .form-control {
      width: 300px; 
    }
  }
  @media (max-width: 992px) {
    .form-inline {
    margin-left: 1px;  
   
  }
  }
  /*navbar done*/
  
  body{
      font-family: 'Poppins', sans-serif;
  }
  .full-screen-background {
      height: 100%;/*newly added one*/
      }
  .rectangle {
          border: double 2px transparent;
          border-radius: 10px;
          background-image: linear-gradient(white, white), radial-gradient(circle at top , red, green);
          background-origin: border-box;
          background-clip: content-box, border-box; 
          position: relative; 
          width: 50%;
          height: 450px;/*newly added one*/
          margin: auto;
          justify-content: center;
         
        }
  @media (max-width: 768px) {
      .rectangle {
              width: 95%; 
              height: auto; 
             
          }
      }
  .error-section {
          text-align: center; 
          padding: 20px;  
          padding-top: 80px;
          
      }
  .error-text1 {
          font-size: 35px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0.9px;
          margin-bottom: 20px; 
          color:#223263;
      }
  .error-text2 {
          font-size: 15px;
          font-weight: 450;
          line-height: 20px;
          letter-spacing: 1.6px;
          margin-bottom: 20px;  
          color:#9098B1;
      }
  .image-icon {
          width: 115px;
          height: 115px;
          margin: 0 auto 30px; 
          margin-top: -30px;
          background-image: url('assets/images/errors/X-icon.svg');  
          background-size: cover;
      }
  .buttons {
          display: flex;
          padding-left: 10px;
          padding-top: 30px; /*newly added one*/
      }
  .home-button {
          width: 428px;
          height: 55px;
          border-radius: 10px;
          background-color: rgba(0, 178, 7, 1); 
          color: white;  
          border: none;
          font-size: 18px;
          text-align: center;
      }
   
  .home-button:hover {
          background-color: rgba(0, 178, 7, 1); 
          color: white; 
          box-shadow: 0 0 20px rgba(0, 128, 0, 0.3);  
          transition: box-shadow 0.3s ease, transform 0.3s ease; 
      }
  .arrow{
      width: 16px; 
      height: 16px;
      margin-left: -90px;
      margin-right: 70px;
  }
   