
.text-lg-start {
    background-color: #F2F2F2;
    height: 390px;
  }
  .footer-logo{
    margin-left: -180px;
    padding-bottom: 10px;
  }
  .footer-text{
  text-align: left;
  }
  .footer-contact{
  text-align: left;
  font-size: 15px;
  color: black;
  }
  .or-contact{
  text-align: center;
  font-size: 15px; 
  color: dimgrey;
  }
  .my-account{
  text-align: left;
  }
  .my-account1{
  text-align: left;
  }
  .col-md-0{
  margin-right: 100px; 
  }
  @media (max-width: 992px) {
  .footer-logo{
    margin-left: 1px;
   
    }
  }
  @media (max-width: 992px) {
  .footer-text{
  text-align: center;
    }
  }
  @media (max-width: 992px) {
  .text-lg-start {
    height: 1400px;
    }
  }
  @media (max-width: 992px) {
  .footer-contact{
  text-align: center;
    }
  }
  @media (max-width: 992px) {
  .my-account{
    text-align: center !important;
    }
  } 
  @media (max-width: 992px) {
  .my-account1{
    text-align: center !important;
    }
  } 
   /*footer end*/
