/* styles.css */

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.review-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid green;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100% - 50px);
}

.review-text1 {
    font-size: 40px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: left;
}

.review-text2 {
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    color: black;
}

.feedback-container,
.thankyou-container,
.written-review {
    margin-top: 10px;
}

.feedback-text {
    font-size: 25px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
}

.review-textbox {
    width: 100%;
}

.submit-button {
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .review-text1 {
        font-size: 30px;
    }

    .review-text2 {
        font-size: 16px;
    }

    .rating-text {
        font-size: 30px;
    }

    .thankyou-text {
        font-size: 16px;
    }

    .feedback-container,
    .thankyou-container,
    .written-review {
        height: auto;
    }

    .review-container {
        padding: 10px;
    }

    .review-textbox {
        width: 100%;
    }
}
