.btn-group {
    display: flex;
}

.btn-check:checked + .btn-outline-success {
    background-color: #28a745;
    color: #fff;
}

.btn-update, .btn-back {
    padding: 10px 20px;
    border-radius: 43px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.btn-update {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.btn-back {
    background-color: #ff8c00;
    color: #fff;
    border: none;
}

.btn-update:hover, .btn-back:hover {
    opacity: 0.8;
}