body {
    margin: 0;
    padding: 0;
    margin-top: 20px;   
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    overflow-x: hidden;
  }
.jumbotron {
    background: url('assets/images/individual-catalogs/vegetables/vegetable-carousel.svg') center center / cover no-repeat ;
    height:   400px;  
    display: flex;
    align-items: center;
    justify-content: flex-start;  
  }
  
.jumbotron-text {
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.50px;
    word-wrap: break-word;
    width: 1837px;
    text-align: left;  
    padding-left: 20px;  
    text-transform: none;
  }
 
.select-box {
    width: 178px;
    height: 41px;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #cac6c6;
    margin-right: 20px; /* Space between select boxes */
  }
.left-selects { margin-left: 70px; } /* Space from the left side of the screen */
.right-selects { margin-right: 70px; } /* Space from the right side of the screen */

.card-custom {
    height: 320px;
    border-radius: 8px;
    border: 2px solid green;
    margin-bottom: 15px;  
    width: 250px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
  }
.card-link {
    text-decoration: none; /* Remove underline from links */
  }
.card-link:hover, .card-link:focus {
    color: inherit; /* The link color will inherit from the parent element */
    text-decoration: none; /* Removes underline on hover/focus */
  }
  
.card-custom:hover, .card-custom:active {
    box-shadow: 0 4px 8px 0 rgba(2, 0, 0, 0.4); /* Light shadow effect */
    cursor: pointer; /* Change cursor to indicate clickable */
  }
.col-custom {
    display: flex;
    justify-content: center;
    padding: 15px;  
  }
.card-spacing {
    padding: 10px;
  }
@media (max-width: 767px) {
    .card-custom {
      margin: 0 auto; 
    }
  }
.card-img-top {
    width: 200px;
    height: 150px;
    border: 2px solid green; 
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }
.card-title1 {
 
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px; /* Adjust the top spacing as needed */
    margin-left: 10px;
  }
.card-title2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px; /* Adjust the top spacing as needed */
    margin-left: 10px;
  }
.circle {
    width: 43.2px;
    height: 45px;
    border-radius: 50%; /* Makes the div a circle */
    background-color: #dedddd; /* Circle color */
    position: absolute; /* Positioning relative to the card */
    right: 20px; /* Space from the right side of the card */
    bottom: 30px; /* Space from the bottom of the card */
  }

.circle:hover {
    width: 43.2px;
    height: 45px;
    border-radius: 50%; /* Makes the div a circle */
    background-color: #EAF7E9; /* Circle color */
    position: absolute; /* Positioning relative to the card */
    right: 20px; /* Space from the right side of the card */
    bottom: 30px; /* Space from the bottom of the card */
  }
.circle-img {
    width: 25px;
    height: 25px;
    position: absolute;  
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the image within the circle */
  }
  