<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet Declarations -->
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.EditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.AdminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegister</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.CusRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingReterive</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.UserSettingReterive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingRetServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.UserSettingRetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingsServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.UserSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.AdminAccountServlet</servlet-class>
    </servlet>
    <!-- Removed duplicate servlet declarations -->
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>UpdateIndividualOrderStatusServlet</servlet-name>
        <servlet-class>com.shaveen.greensupermarket.UpdateIndividualOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/EditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductServlet</servlet-name>
        <url-pattern>/AdminProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegister</servlet-name>
        <url-pattern>/CustomerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingReterive</servlet-name>
        <url-pattern>/UserSettingReterive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingRetServlet</servlet-name>
        <url-pattern>/UserSettingRetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingsServlet</servlet-name>
        <url-pattern>/UserSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountServlet</servlet-name>
        <url-pattern>/AdminAccountServlet</url-pattern>
    </servlet-mapping>
    <!-- Removed duplicate servlet mappings -->
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>UpdateIndividualOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateIndividualOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- JSP Configuration -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>tld/c-1_0.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
